<div class="big-bg">
  <div class="right">
  <h1>こっそり努力をしませんか？</h1>
  <h2>
    目標を持って努力したい人々で集まって共に高め合いましょう。
    <br>SHUGYOはあなたの成長をお手伝い致します。　　　　　　　　
  </h2>
  <div class="left">
  <p><%= link_to "早速使ってみる", '#', class: "btn btn-lg btn-primary " %></p>
  <p><%= link_to "ログイン", '#', class: "btn btn-lg btn-outline-primary" %></p>
  </div>
  </div>
</div>
