<header class="navbar navbar-fixed-top navbar-light" style="background-color: #75A9FF;">
  <div class="container ">
    <%= link_to "SHUGYO", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right ">
      　<li><%= link_to "ホーム", root_path %></li>
        <li><%= link_to "ログイン", '#' %></li>
      </ul>
    </nav>
  </div>
</header>